
*{margin: 0; padding: 0;}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: middle;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

body{
    font-family: 'LeferiBaseType-RegularA';
    font-size: 14px;
    line-height: 24px;
    color: #625548;
    min-width: 1450px;
}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*header*/
#header{
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
}
.header_inner{
    margin: 0px auto;
    width: 1290px;
    margin-top: 7px;
}
.logo{
    float: left;
    padding-top: 10px;
    padding-right: 231px;
}
.gnb{
    float: left;
}
.gnb li{
    float: left;
}
.gnb li a{
    display: block;
    padding: 35px 25px;
    font-size: 20px;
}

.gnb li a:hover{
    color: #fef8ce;
}

.header_icon{
    float: right;
}
.header_icon li{
    float: left;
}
.header_icon li a{
    display: block;
    padding: 33px 10px;
}



/*main*/
.sec1{
    background: url(./images/brandstory_bg_img.png) no-repeat;
}
.main_inner{
    width: 1320px;
    margin: 0px auto;
}
.main_font{
    padding-top: 250px;
    padding-bottom: 22px;
}
.mainstory{
    padding-top: 35px;
}



/*brand*/
.sec2{
    background: url(./images/brand_bg_img.png) no-repeat;
}
.brand_inner{
    width: 1320px;
    margin: 0px auto;
    height: 700px;
}
.brand_font{
    padding-bottom: 25px;
}
.brandstory{
    padding-top: 24px;
}



/*ci*/
.sec3, .sec4, .sec5, .sec6{
    background: url(./images/ci_bg.png) repeat;
}
.ci_inner{
    width: 1320px;
    margin: 0px auto;
}
.ci_font{

    padding-bottom: 22px;
}
.logomark_img{
    padding-top: 80px;
}
.logotype_img{
    padding-top: 80px;
}
.signature_img{
    padding-top: 80px;
}
.color_img{
    padding-top: 80px;
}


/*footer*/
#footer{
    background: url(./images/footer_bg.png) no-repeat;
}


.footer_inner{
    margin: 0px auto;
    width: 1320px;
    text-align: center;
    height: 305px;
    position: relative;
}
.footer_logo{
    padding-top: 45px;
    padding-bottom: 21px;
}
.foost1{
    position: absolute;
    left: 480px;
    top: 145px;
}
.foost2{
    position: absolute;
    left: 562px;
    top: 145px;
}
.foost3{
    position: absolute;
    right: 620px;
    top: 145px;
}
.foost4{
    position: absolute;
    right: 480px;
    top: 145px;
}


.foocon1{
    position: absolute;
    top: 188px;
    left: 561px;
}
.foocon2{
    position: absolute;
    top: 188px;
    left: 621px;
}.foocon3{
    position: absolute;
    top: 188px;
    right: 560px;
}.foocon4{
    position: absolute;
    top: 188px;
    right: 620px;
}


.footer_elodie{
    position: absolute;
    top: 237px;
    left: 527px;
}
